.infoprofile {
    background: var(--white);
    border-radius: 8px;
    padding: 2.5rem;
}

/* Centralizar o título */
.title {
    text-align: center;
    margin-bottom: 1rem;
}

/* Descrição abaixo do título */
.description {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Estilização das informações principais */
.infoSection {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--gray-400);
}

@media (max-width: 768px){
    .infoSection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
       
    }
}





/* Estilização dos históricos */
.history {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    background: var(--white);
}


.history h2 {
    margin-bottom: 1rem;
}

.buttonContainer {
    padding-top: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.infoButton {
    padding: 0.5rem 1rem;
    background-color: var(--brown-800);
    color: var(--white);
    margin: 0 1rem 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;


}

.infoButton:hover {
    background-color: var(--white);
    color: var(--brown-800);
    border: 1px solid var(--brown-800);
    border-radius: 8px;
}

.compettionContainer{
    border-top: 1px solid var(--gray-100);
    margin-top: 1rem;

}

.compettionContainer p {
    padding-top: 1rem;
    color: black;
    font-size: 15px;

    
}