.sidebar {
    background: var(--white);
    border-radius: 8px;
    overflow: hidden;
}

.cover {
    width: 100%;
    height: 72px;
    object-fit: cover;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: calc(0px - 1.5rem - 6px);
}

.profile strong {
    margin-top: 1rem;
    color: var(--gray-900);
    line-height: 1.6;
}

.profile span {
    font-size: 0.875rem;
    color: var(--gray-800);
    line-height: 1.6;
}

.sidebar footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    border-top: 1px solid var(--gray-100);
    margin-top: 1.25rem;
    padding: 0 1rem 1rem;
}


.buttonEdit {
    background: transparent;
    color: var(--brown-800);
    border: 1px solid var(--brown-800);
    border-radius: 8px;
    height: 3rem;
    
    font-weight: bold;
    display: block;
    text-decoration: none;
    margin-top: 1rem;
   

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;

    transition: color 0.2s, background-color 0.2s;
}

.buttonEdit:hover{
    background: var(--brown-800);
    color: var(--white);
}