/* variáveis css */
:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-700: #383838;
  --gray-900: #121214;

  --brown-800: #927A62;
  --brown-500: #D6A94E;
  --brown-300: #E2C484;

}

:focus {
  outline: transparent;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-100);
  color: var(--gray-900);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.html{
  overflow-x: hidden;
}

body,
input,
textarea,
select,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}