/* variáveis css */
:root {
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-700: #383838;
  --gray-900: #121214;

  --brown-800: #927a62;
  --brown-500: #d6a94e;
  --brown-300: #e2c484;

  --bg-light-main: #fafafa;
  --bg-dark-main: #323337;

  --main: #f99249;
  --white: #fafafa;
  --black: #1b1b1b;
  --gray: #cdcdcd;
  --gray-light: #f1f1f1;
}

:focus {
  outline: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-light-main);
  color: var(--gray-900);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.html {
  overflow-x: hidden;
}

body,
input,
textarea,
select,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
