.container {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px fr;
    align-items: flex-start;
    gap: 2rem;
    overflow-x: auto;
}

.wrapper {
    

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px){
    .wrapper{
        grid-template-columns: 1fr;
    }

    .container{
        grid-template-columns: 1fr;
       
    }
}

.version{
    font-size: 0.7rem;
    color: #888;
 
    padding: 1rem;
}